*
{
	background-color:#E8FF00;
}
ul
{
	background-color:#FE001F;
}
h1
{
	color:red;
}
h2
{
	color:red;
	background-color:#000000;
}
table
{
	color:#000000;
	background-color:#000000;
}